<?xml version="1.0"?>
<clickhouse>
    <logger>
        <level>trace</level>
        <log>{{ clickhouse_log_dir }}/clickhouse-server.log</log>
        <errorlog>{{ clickhouse_log_dir }}/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <http_port>{{ clickhouse_http_port }}</http_port>
    <tcp_port>{{ clickhouse_tcp_port }}</tcp_port>
    <interserver_http_port>{{ clickhouse_interserver_port }}</interserver_http_port>
    <listen_host>::</listen_host>

    <max_connections>4096</max_connections>
    <keep_alive_timeout>3</keep_alive_timeout>
    <max_concurrent_queries>{{ clickhouse_max_concurrent_queries }}</max_concurrent_queries>
    <uncompressed_cache_size>8589934592</uncompressed_cache_size>
    <mark_cache_size>5368709120</mark_cache_size>

    <path>{{ clickhouse_data_dir }}</path>
    <tmp_path>{{ clickhouse_data_dir }}/tmp</tmp_path>
    <user_files_path>{{ clickhouse_data_dir }}/user_files</user_files_path>
    <format_schema_path>{{ clickhouse_data_dir }}/format_schemas</format_schema_path>

    <users_config>users.xml</users_config>
    <default_profile>default</default_profile>
    <default_database>default</default_database>

    <timezone>UTC</timezone>
    <remote_servers>
        <{{ clickhouse_cluster_name }}>
            <shard>
                <weight>1</weight>
                <replica>
                    <host>{{ ansible_hostname }}</host>
                    <port>{{ clickhouse_tcp_port }}</port>
                    <user>{{ clickhouse_user }}</user>
                    <password></password>
                    <secure>false</secure>
                </replica>
            </shard>
        </{{ clickhouse_cluster_name }}>
    </remote_servers>

    {% if keeper_enabled %}
    <zookeeper>
        <node>
            <host>{{ ansible_hostname }}</host>
            <port>{{ keeper_port }}</port>
        </node>
    </zookeeper>
    {% endif %}

    {% if tls_enabled %}
    <openSSL>
        <server>
            <certificateFile>/etc/ssl/certs/clickhouse.crt</certificateFile>
            <privateKeyFile>/etc/ssl/private/clickhouse.key</privateKeyFile>
            <caConfig>/etc/ssl/certs/ca.crt</caConfig>
        </server>
    </openSSL>
    {% endif %}

</clickhouse>
